* {
    margin: 0;
    padding: 0;
    background: #f3f5fc;
    font-family: "Inter";
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.logo {
    padding-top: 10px;
    padding-left: 10px;
    width: 8%;
}

main {
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.text-area {
    border: none;
    color: #0A3871;
    margin-top: 90px;
    text-transform: lowercase;
}

::placeholder { color: #0A3871; }
    .text-area:focus {
        outline: none;

    }

.botones {
    display: flex;
    margin-top: 18px;
}

.btn-encriptar {
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    height: 67px;
    width: 328px;
}

.btn-desencriptar {
    background-color: #d8dfe8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 30px;
    height: 67px;
    width: 328px;
}

.mensaje {
    background: white;
    background-image: url("/files/imgs/Muñeco.png");
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
}

.mensaje:focus {
    outline: none;
}

.btn-copiar {
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 188px;
    margin-top: 482px;
    position: absolute;
    width: 336px;
}

