*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-size: 32px;
    font-weight: 400;
    line-height: 150%;
    background: var(--background);
    

}

:root {
    --dark-blue-100: #609ED4;
    --dark-blue-200: #356EA9;
    --dark-blue-300: #0A3871;
    --dark-blue-400: #072B61;
    --dark-blue-500: #052051;

    --light-blue-100:#F3F5FC;
    --light-blue-200:#EFF1FA;
    --light-blue-300:#E9ECF8;
    --light-blue-400:#AAB2D5;
    --light-blue-500:#F3F5FC;

    --gray-100:#CED4DA;
    --gray-200:#ADB5BD;
    --gray-300:#868E96;
    --gray-400:#495057;
    --gray-500:#343A40;
    --gray-custom: #D8DFE8;

    --background: var(--light-blue-100);
    --white:#FFFFFF;
    --shadow: #000000;
}

.total__container {
    width: 100%;
    max-width: 90rem;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    align-items: self-start;
    width: 25%;
}

.logo {
    width: 1rem;
    display: flex;
    align-items: flex-start;
    margin: 0rem 0 0 0.5rem;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
} 

/* - - - - - - - - - - - - - - - LADO IZQUIERDO - - - - - - - - - - - - - - - */

.left__panel {

        width: 100%;
        max-width: 680px;
        height: 100%;
        max-height:500px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
        margin: 0rem 1rem 0 1rem; 
    }


.text__input {
 
    max-width: 680px;
    width: 100%;
    max-height: 375px;

    font-size: 32px;
    resize: none;
    border: none; 
}

.text__input:focus {
    outline: none
}

.text__input::placeholder, :focus {
    color: var(--dark-blue-300);
   
}


.left__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 5px;
    gap: 5px;
}



.alert__msg{

    font-size: 12px;
    color: var(--gray-400);
}

.bts__container {
    width: 100%;
    background: var(--white);
    display: flex;
    flex-direction: row;
    gap: 24px;;
   }

.btn__encriptar {
    width: 328px;
    height: 67px;
    padding: 24px;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: var(--white);
    background: var(--dark-blue-300);
    border: 1px solid var(--dark-blue-300);
    border-radius: 24px;
    cursor: pointer;
    box-shadow: 0px 10px 10px -8px var(--shadow);
}

.btn__encriptar:active {
    box-shadow: inset 2px 2px 4px var(--shadow),
    inset -3px -4px 8px var(--darkblue300);
    color: var(--graycustom);
}

.btn__desencriptar {
    width: 328px;
    height: 67px;
    padding: 24px;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: var(--dark-blue-300);
    background: var(--gray-custom);
    border: 1px solid var(--dark-blue-300);
    border-radius: 24px;
    cursor: pointer;
    box-shadow: 0px 10px 10px -8px var(--shadow);
}

.btn__desencriptar:active {
    box-shadow: inset 2px 2px 4px var(--darkblue300),
    inset -3px -4px 8px var(--shadow);
    color: var(--blue-custom);
    font-weight: bold;
}



/* - - - - - - - - - - - - - - - LADO DERECHO - - - - - - - - - - - - - - - */

.right__panel {
    background-color: aqua;
    max-width: 11rem;
    width: 100%;
    height: 475px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--white);
    border-radius: 32px;
    text-align: center;
    box-shadow: 0px 24px 32px -8px var(--gray-300)   
}

.text__output {
    width: 100%;
    padding: 0 6px;
    max-height: 411px;
    background: var(--white);
    resize: none;
    border: none;
    outline: none;
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
    display: none;
}

.right__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    background: transparent;
    /* display: none; */
}

.image {
   
    margin-top: 95px;
    max-width: 7rem;
    height: auto;
    background: var(--white);
}

.upper__msg {
    
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    text-align: center;
    color: var(--gray-500);
    background: transparent;
    max-width: 275px;
    width: 100%;
    margin: 0 auto;
}

.lower__msg {
   
    font-size: 16px;
    text-align: center;
    color: var(--gray-500);
    background: transparent;
    max-width: 300px;
    width: 100%;
}

.copy__container {
    background: var(--white);
    border-bottom-left-radius: 32px ;
    border-bottom-right-radius: 32px ;
}


.btn__copiar {
    top: 450px;
    position: absolute;
    width: 336px;
    height: 67px;
    font-size: 16px;
    text-align: center;
    color: var(--dark-blue-300);
    border: 1px solid var(--dark-blue-300);
    background: var(--white);
    border-radius: 24px;
    cursor: pointer;
    box-shadow: 0px 10px 10px -8px var(--shadow);
    text-shadow: 0px 4px 4px var(--gray-300);
    visibility: hidden;
}

.btn__copiar:active {
    box-shadow: inset 2px 2px 4px var(--darkblue300),
    inset -3px -4px 8px var(--shadow);
    color: var(--blue-custom);
}

/* - - - - - - - - - - - - - - - FOOTER - - - - - - - - - - - - - - - */

.footer {
    font-size: 16px;
    color: var(--gray-300);
    margin-top: 10px;
    margin-left: 20px;
    text-align: center;
}

/* - - - - - - - - - - - - - - - RESPONSIVE - - - - - - - - - - - - - - - */
/* TABLET */

@media (max-width: 960px) {

    .total__container {
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .logo {
        margin: 0.5rem 0 0 0.5rem;

    }

    .main {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;

    }

    .left__panel {
        max-width: 680px;
        width: 100%;
        max-height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem auto 0 auto;
    }

    .text__input {
        margin: 1.5rem 0 0 0 ;
        min-height: 15rem;
    }

    .bts__container {
        width: 100%;
        display: flex;
        flex-direction: row;

    }

    .btn__encriptar, .btn__desencriptar{
        max-width: 332px;
    }

    .right__panel {
        max-width: 680px;
        max-height: 200px;
        margin: 2rem auto auto auto;
        }

    .right__container, .upper__msg, .lower__msg {
        min-width: 100%;
        max-height: 100px;
    }

    right__container {
        padding-top: 20px;
    }

    .image {
        display: none;
    }

    .text__output {
        max-height: 133px;
        margin: 0 0 2rem 0;
    }

    .btn__rightContainer {
        border: 2px solid blue;
        min-width: 100%;
    }

    .btn__copiar {
        top: 930px;
        position: absolute;
        max-width: 624px;
        width: 100%;
    }
}

/* CEL */


@media (max-width: 500px) {

.bts__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:343px ;
}

.btn__encriptar, .btn__desencriptar {
    width: 343px;
}

.left__panel {
    margin: 0 auto;
}

.right__panel {
    max-width: 327px;
    height: 186px;
}

.right__container {
    padding: 15px;
}

}
